{% extends "index.html" %}
{% load static %}
{% block content %}

<section id="home1">
  <img class='image' src="{% static 'asp1.png' %}" alt="My image" />
  <h1 class="h-primary ">{{heade}}</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis dolorum numquam minus. </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae reprehenderit facilis dolor earum accusantium
    et quam, doloremque rerum repellendus tenetur quos. Doloribus, aliquid?</p>
  <button class="btn-dark">Order Now</button>
</section>



<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      {% for key, value in pupils_dictionary.items %}

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="https://images.unsplash.com/photo-1598256989800-fe5f95da9787?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8aG9zcGl0YWxzfHx8fHx8MTYzNTcyNTMzMQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600"
            data-holder-rendered="true">
          <div class="card-body">
            <h><b>{{value.0}}</b></h>
            <p class="card-text">{{value.1}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-primary">{{value.2}} KM</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>




{% endblock content %}